{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;background-color: rgba(91, 241, 80, 0.4);">
<h1>Contact Details</h1>
<br><br>
<h2>Name:Anji Janigorla</h2><br>
<h3>college : Sir C R REDDY COLLEGE OF ENGINEERING</h3><br>
<h3>Phone : xxxxxxxxxx</h3>
<h3>Email:anjijanigorla@gmail.com</h3>

<button style="background-color: rgb(4, 4, 235); padding: 10px;border-radius: 10px;"><a href="{% url 'home' %}" style="text-decoration: none;color: white; ">Go to Home</a></button>
</div>

{% endblock %}